@{
    Layout = "_Layout";
}

<div class="container text-center">
    <h1>Bienvenido al Horóscopo</h1>
    <hr />
    <img src="~/img/dama.png" alt="Portada" class="img-fluid" style="max-width: 200px; height: auto;">
    <br />
    <br />
    <a href="@Url.Action("SelectGender", "Horoscopo")" class="btn btn-primary" style="background-color: #fe6d1a;">Ingresar</a>
</div>
